<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Uts"
        tools:targetApi="31">
        <activity
            android:name="pnj.uts.ti.ahmad_ulul_azmi.DetailDataAlumni"
            android:exported="false" />
        <activity
            android:name="pnj.uts.ti.ahmad_ulul_azmi.TambahData"
            android:exported="false" />
        <activity
            android:name="pnj.uts.ti.ahmad_ulul_azmi.DataAlumni"
            android:exported="false" />
        <activity
            android:name="pnj.uts.ti.ahmad_ulul_azmi.Fragment.FragmentThree"
            android:exported="false" />
        <activity
            android:name="pnj.uts.ti.ahmad_ulul_azmi.DetailBerita"
            android:exported="false" />
        <activity
            android:name="pnj.uts.ti.ahmad_ulul_azmi.Fragment.FragmentTwo"
            android:exported="false" />
        <activity
            android:name="pnj.uts.ti.ahmad_ulul_azmi.Fragment.FragmentOne"
            android:exported="false" />
        <activity
            android:name="pnj.uts.ti.ahmad_ulul_azmi.FragmentHome"
            android:exported="false" />
        <activity
            android:name="pnj.uts.ti.ahmad_ulul_azmi.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>